<!DOCTYPE html>
<html lang="en" ng-app="weather">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Weather App | HighRoads exercise</title>
</head>
<body>
    <div class="container" ng-controller="WeatherController as vm">
        <h1 class="display-4" style="margin-bottom: 40px">Weather App</h1>
        <div class="alert alert-danger" role="alert" ng-show="vm.errorMessage">
            {{vm.errorMessage}}
        </div>
        <form class="form" ng-submit="vm.submit()">
            <div class="form-group row">
                <label for="inputCity" class="col-form-label col-3">City:</label>
                <input type="text" class="form-control col-7" id="inputCity"
                placeholder="Enter City name..." autofocus ng-model="vm.city">
                <button type="submit" class="btn btn-primary col-2">Get weather</button>
            </div>
            <hr />    
            <div class="form-group row">
                <label for="inputCity" class="col-form-label col-3">Temperature Unit:</label>
                <div class="form-check form-check-inline col-1">
                    <input class="form-check-input" type="radio" name="radioUnit" id="radioMetric" ng-model="vm.unit" value="metric">
                    <label class="form-check-label" for="inlineRadio1">Metric</label>
                </div>
                <div class="form-check form-check-inline col-1">
                    <input class="form-check-input" type="radio" name="radioUnit" id="radioImperial" ng-model="vm.unit" value="imperial">
                    <label class="form-check-label" for="inlineRadio2">Imperial</label>
                </div>
            </div>
        </form>
        <hr />
        <!-- RESULT TABLE -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" ng-click="vm.sortByHandler('city')">City
                        <i class="fa fa-sort" ng-show="vm.sortBy !== 'city'"></i>
                        <i class="fa" 
                            ng-show="vm.sortBy === 'city'"
                            ng-class="{'fa-sort-asc':!vm.reverse, 'fa-sort-desc':vm.reverse}"></i></th>
                    <th scope="col" 
                        ng-click="vm.sortByHandler('temperature')">Temperature
                        <i class="fa fa-sort" ng-show="vm.sortBy !== 'temperature'"></i>
                        <i class="fa"
                            ng-show="vm.sortBy === 'temperature'"
                            ng-class="{'fa-sort-asc':!vm.reverse, 'fa-sort-desc':vm.reverse}"></i>
                    <th scope="col" 
                        ng-click="vm.sortByHandler('windSpeed')">Wind Speed
                        <i class="fa fa-sort" ng-show="vm.sortBy !== 'windSpeed'"></i>
                        <i class="fa" 
                            ng-show="vm.sortBy === 'windSpeed'"
                            ng-class="{'fa-sort-asc':!vm.reverse, 'fa-sort-desc':vm.reverse}"></i>
                    <th scope="col" 
                        ng-click="vm.sortByHandler('cloud')">Cloud
                        <i class="fa fa-sort" ng-show="vm.sortBy !== 'cloud'"></i>
                        <i class="fa" 
                            ng-show="vm.sortBy === 'cloud'"
                            ng-class="{'fa-sort-asc':!vm.reverse, 'fa-sort-desc':vm.reverse}"></i>
                    <th scope="col" 
                        ng-click="vm.sortByHandler('sunrise')">Sunrise
                        <i class="fa fa-sort" ng-show="vm.sortBy !== 'sunrise'"></i>
                        <i class="fa" 
                            ng-show="vm.sortBy === 'sunrise'"
                            ng-class="{'fa-sort-asc':!vm.reverse, 'fa-sort-desc':vm.reverse}"></i>
                    <th scope="col" 
                    ng-click="vm.sortByHandler('sunset')">Sunset
                    <i class="fa fa-sort" ng-show="vm.sortBy !== 'sunset'"></i>
                    <i class="fa"
                            ng-show="vm.sortBy === 'sunset'"
                            ng-class="{'fa-sort-asc':!vm.reverse, 'fa-sort-desc':vm.reverse}"></i>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cityDetail in vm.citiesDetail | orderBy:vm.sortBy:vm.reverse">
                    <td>{{ cityDetail.city }}, {{ cityDetail.country }}</td>
                    <td>{{ cityDetail.temperature | temperature : vm.unit }} </td>
                    <td>{{ cityDetail.windSpeed }} m/s</td>
                    <td>{{ cityDetail.cloud }}%</td>
                    <td>{{ cityDetail.sunrise | date : 'HH:mm' }}</td>
                    <td>{{ cityDetail.sunset | date : 'HH:mm' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Javascript for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="weather.module.js"></script>
    <script src="services/services.js"></script>
    <script src="controllers/controllers.js"></script>
    <script src="filters/temperature.filter.js"></script>
</body>
</html>